
*.config
*.cache
*.txt
*.cache
*.dll
*.targets
*.json
*.ide
*.pdb
*.cache
*.lock
*.nuspec
*.nupkg
*.suo
*.user
_ReSharper.*
.vs/MyBuzzMoneyServer/v15/.suo
.vs/MyBuzzMoneyServer/v15/Server/sqlite3/*.*
MyBuzzMoneyServer/obj/
bin/
obj/
Debug/
Release/
packages

*.cache
MyBuzzMoney.Library/obj/project.assets.json
